@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container{
    @apply flex flex-row justify-between w-[100%]  p-3  text-[14px] bg-white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
    z-index: 1;

}

.left{
    @apply  flex flex-row ml-3 font-serif;
}
.logo{
    @apply ml-2 font-thin;
    letter-spacing: 4px;
}
.header-btn{
    letter-spacing: 4px;
    @apply mx-2;
}
.header-btn:hover{
    background-color:#d4d4d4;
    padding: 3px;
}
.left:hover{
    background-color: #d4d4d4;
    padding: 3px;

}
/* img */
.img-container{
    @apply 2xl:w-[79%] m-auto px-3 md:w-full;
}
.img-bg{
    @apply w-full
}
.text-bg{
    @apply absolute ;
    top:300px;
    left:650px;
}
.br{
@apply text-white text-[30px] bg-slate-800 px-4 py-1 font-sans font-bold ;
}
.art{
@apply text-white text-[30px] ml-2 font-sans  ;
letter-spacing: 4px;
}
/* end img */
/* project */
.project-container{
    @apply flex flex-col w-[77.5%] m-auto pb-5 ;
}
.text-project{
    @apply pt-10 pb-5;
}
.border-project{
    @apply w-[100%] m-auto mb-10;
    border-bottom: 1px solid #e5e5e5;
}
.item-tex{
    @apply bg-black text-white p-1 text-[13px] ;
    /* position:absolute ;
    left:177.5px; */
}
.item-tex1{
    @apply bg-black text-white p-1 text-[13px] ;
    /* position:absolute ;
    left:470.5px;   */
}
.item-tex2{
    @apply bg-black text-white p-1 text-[13px] ;
    /* position:absolute ;
    left:765px;   */
}
.item-tex3{
    @apply bg-black text-white p-1 text-[13px] ;
    /* position:absolute ;
    left:1060px;   */
}
.img-home{
    @apply pb-3 px-1.5;
    width:298px;
    height: 200px;
}
.img-project{
    @apply flex  min-[1024px]: flex-row sm:flex-col;
}
/* end project */
/* about */
.about-container{
    @apply flex flex-col w-[77.5%] m-auto pb-10
}
.border-about{
    @apply w-[100%] m-auto mb-5;
    border-bottom: 1px solid #e5e5e5;
}
.about-paragragh{
    @apply text-[13.5px] pb-5;
}
.profile{
    @apply w-[25%] mx-2
}
.about-profile{
    @apply flex flex-row 
}
.img1{
    width:305px;
    height: 200px;
}
.about-h3{
    @apply text-[23px] text-slate-700 mt-2 pb-3
}
.about-p1{
    @apply text-[14px] text-gray-500 mb-2 
}
.about-p2{
    @apply text-[14px] mb-2
}
.btn-about{
    @apply bg-zinc-200 w-full
}
/* end about */
/* content */
.content-container{
    @apply flex flex-col w-[80%] m-auto;
}
.content-paragragh{
    @apply text-[13px] mb-1
}
.content-table{
    @apply flex flex-col ;
}
.table-item{
    @apply my-2 text-black;
    border: 1px solid #ccc;
    padding: 2px;
   
    
}
.btn-content{
    @apply text-white bg-black w-[10%] text-[14px] p-2 mt-5
}
/* end content */
/* map */
.map{
     @apply w-[80%] m-auto pt-8 pb-3;
}
/* end map */
/* footer */
.footer-container{
    @apply flex flex-row w-full bg-black p-8 justify-center;
}
.footer-text{
    @apply text-white text-[12px] ;
    
}
.footer-link{
    @apply text-white text-[12px] mx-1 ;

}
.footer-link:hover{
    color: #22c55e;
}
/* end footer */